html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 14px;
}

#body-login{
    background-color: #00909C;
}

/*CSS dang nhap*/
#body-flex-login{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#container-login{
    display: flex;
    width: 820px;
    height: 610px;
    background-color: white;
}

#container-login-left{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 610px;
    justify-content: space-between;
    background-image:linear-gradient(
            rgba(80, 0, 0, 0.45),
            rgba(80, 0, 0, 0.45)),url(../images/NHD_8216.jpg);
    background-size: cover;
    padding: 0 16px;
}

.header-login{
    margin-top: 32px;
}

#header-top-left{
    text-align: center;
    color: white;
}

#header-bottom-left{
    margin-bottom: 64px;
}

#header-bottom-left span{
    color: white;
    margin-left: 8px;
}

#text-logo{
    font-size: 48px;
}

#hint-text-logo{
    font-size: 12px;
    opacity: 0.7;
}

#container-login-right{
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    float: 1;
}

#header-top-right{
    font-size: 20px;
    color: #b7b7b7;
}

.actived{
    color: #DA7C79;
}

#container-social-login{
    align-self: flex-end;
    margin-bottom: 16px;
    margin-left: 256px;
}

#container-center-login-right input[type=text]{
    margin-top: 8px;
    font-size: 14px;
}

/*#container-center-login-right input[type=password]{*/
/*    margin-top: 8px;*/
/*    font-size: 14px;*/
/*}*/

#container-center-login-right input[type=submit]{
    margin-top: 24px;
    color: white;
    font-size: 14px;
}
.material-textinput{
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    width: 100%;
}

.material-primary-button{
    height: 38px;
    border: 0;
    background-color: #00909c;
    width: 100%;
    box-shadow: 2px 2px 4px 0px #000;
}

.input-icon-email{
    background:url(../images/icon_email.png) no-repeat scroll 7px 5px;
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    width: 85%;
    padding-left: 50px;
}

.input-icon-password{
    background:url(../images/icon_password.png) no-repeat scroll 7px 5px;
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    width: 85%;
    padding-left: 50px;
}


/*end CSS dang nhap*/

/*css trang chu*/

/*background full screen css*/
/*overlay background image css*/
#header{
    height: 750px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.42),
            rgba(0, 0, 0, 0.42)
    ), url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#none-nav{
    background: none !important;
    border: none;
    padding-top: 20px;
}

.navbar-nav{
    margin-left: 34%;
}

.navbar-nav a{
    color: white !important;
}

/* .active > a{
    color:#ff01a5 !important;
    background: none !important;
    font-weight: bold;
}

.dropdown > a{
    color:#ff01a5 !important;
    background: none !important;
    font-weight: bold;
} */

.nav-item > a:hover{
    color:#ff01a5 !important;
    background: none !important;
}

.dropdown-menu{
    background-color:#ff01a5 !important;
}

.enven-header{
    text-align: center;
    margin-top: 216px;
}

.enven-header > span{
    color: white;
}

.enven-header button{
    color: white;
    background-color: #39FFE1;
    border:#39FFE1;
    width: 80px;
    height: 35px;
    font-size: 15px;
}

.icon{
    width: 48px;
    height: 48px;
}

#info{
    text-align: center;
    margin-top: 48px;
}

#info span{
    margin-top: 16px;
}

#title-product{
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.sanpham{
    margin-top: 30px;
    background-color: #e3e4e4;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    padding-bottom: 16px;
}

.sanpham img{
    height: 256px;
}

.giatien{
    font-size: 14px;
    color: red;
}

#footer{

    margin-top:42px;
    color: white;
    background-color: #1e1e1e;
    padding:38px;
}

#footer p{
    text-align: center;
}


.title-footer{
    font-size: 32px;
}

#footer textarea{
    border: 0;
    background-color: #D8D8D8;
    width: 100%;
}

#footer input{
    height: 38px;
    border: 0;
    background-color: #D8D8D8;
    width: 100%;
    margin-bottom: 8px;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-nav{
        margin-left: 0% !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav{
        margin-left: 0% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav{
        margin-left: 8% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }



/*ket thuc css trang chu*/